<p id="notice"><%= notice %></p>

<h1>Listing Lecturers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Faculty</th>
      <th>Course</th>
      <th>Phone</th>
      <th>Course unit</th>
      <th>Lecture room</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lecturers.each do |lecturer| %>
      <tr>
        <td><%= lecturer.name %></td>
        <td><%= lecturer.faculty %></td>
        <td><%= lecturer.course %></td>
        <td><%= lecturer.phone %></td>
        <td><%= lecturer.course_unit %></td>
        <td><%= lecturer.lecture_room %></td>
        <td><%= link_to 'Show', lecturer %></td>
        <td><%= link_to 'Edit', edit_lecturer_path(lecturer) %></td>
        <td><%= link_to 'Destroy', lecturer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lecturer', new_lecturer_path %>
