<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lecturer.name %>
</p>

<p>
  <strong>Faculty:</strong>
  <%= @lecturer.faculty %>
</p>

<p>
  <strong>Course:</strong>
  <%= @lecturer.course %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @lecturer.phone %>
</p>

<p>
  <strong>Course unit:</strong>
  <%= @lecturer.course_unit %>
</p>

<p>
  <strong>Lecture room:</strong>
  <%= @lecturer.lecture_room %>
</p>

<%= link_to 'Edit', edit_lecturer_path(@lecturer) %> |
<%= link_to 'Back', lecturers_path %>
